*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/66de28f6bf7b25306ff94d3d6dccc222 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/6e8056ba8a1b12624159a36908e6d3c6 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/b3fe062817f00558d3f3a8517c22c299 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/d5731256055039c9dde4ef0d633d1c22 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/fc756764bb35c3f4035329d225c0661d filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/1d9b8dabebb865142b87af3ba2155969 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/6c8ace1240ba5be60a31884524d387cc filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/6e32de1c193b2c80e57359c259d71a3a filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/85c31f85c0de5d4ee6b37e13ce393d0e filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/bc55c327da9ad2479d8071245581060d filter=lfs diff=lfs merge=lfs -text
gemma-3-4b-pt-QAT-Q4_0.gguf filter=lfs diff=lfs merge=lfs -text
gemma-3-4b-pt-QAT-F16.gguf filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/275795b5c0bed1e31dd336a5bb99f212 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/30604eaa0be92d830385c4c9efddca5c filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/3e6ebc400b0b3b6352f6c8f62706ab4a filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/4a8c65d07fad66a909df7ac592ce6377 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/cf2b81bd9d40958ba24905e170bf63ba filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/dc7da144a506d33a3e57e3e0fc466d07 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/dfd79a7afc21ca40f2c32149e2d98720 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/0b0e2716c6bf01ba41462015523c5018 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/0f12dcbeeaf057bdec7a5dc56f5826d3 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/6215220c583862796bf065aa9b005098 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/be9cbf04c3001315c26f53348bfdd651 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/cc5dd3c88273edf666c1446f779b184e filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/cf4cb13a5c599e61e2f7add9bcd9a060 filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final/ocdbt.process_0/d/e0a8cfb2f95961d3d6d2b4839cb36aff filter=lfs diff=lfs merge=lfs -text
PT_4B_Q4_0_final_q4_0.gguf filter=lfs diff=lfs merge=lfs -text
mmproj-model-f16.gguf filter=lfs diff=lfs merge=lfs -text
mmproj-model-f16-4B.gguf filter=lfs diff=lfs merge=lfs -text
gemma-3-4b-it-q4_0.gguf filter=lfs diff=lfs merge=lfs -text
gemma-3-4b-pt-q4_0.gguf filter=lfs diff=lfs merge=lfs -text
